@theme {
  --color-gray-1: #fcfcfd;
  --color-gray-2: #f9f9fc;
  --color-gray-3: #eff0f4;
  --color-gray-4: #e7e8ed;
  --color-gray-5: #e0e1e7;
  --color-gray-6: #d8d9e1;
  --color-gray-7: #cdced8;
  --color-gray-8: #b9bbc8;
  --color-gray-9: #8b8d9a;
  --color-gray-10: #80828e;
  --color-gray-11: #62636d;
  --color-gray-12: #1e1f25;

  --color-gray-a1: #00005503;
  --color-gray-a2: #00008006;
  --color-gray-a3: #00105010;
  --color-gray-a4: #000b4018;
  --color-gray-a5: #00093a1f;
  --color-gray-a6: #00073b27;
  --color-gray-a7: #00063932;
  --color-gray-a8: #00083746;
  --color-gray-a9: #00052174;
  --color-gray-a10: #00051d7f;
  --color-gray-a11: #0002129d;
  --color-gray-a12: #000108e1;

  --color-gray-contrast: #ffffff;
  --color-gray-surface: #ffffffcc;
  --color-gray-indicator: #8b8d9a;
  --color-gray-track: #8b8d9a;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    @theme {
      --color-gray-1: oklch(99.1% 0.0017 279);
      --color-gray-2: oklch(98.3% 0.0033 279);
      --color-gray-3: oklch(95.6% 0.0052 279);
      --color-gray-4: oklch(93.1% 0.0071 279);
      --color-gray-5: oklch(91% 0.009 279);
      --color-gray-6: oklch(88.7% 0.0107 279);
      --color-gray-7: oklch(85.3% 0.0135 279);
      --color-gray-8: oklch(79.4% 0.0185 279);
      --color-gray-9: oklch(64.6% 0.0189 279);
      --color-gray-10: oklch(61% 0.0182 279);
      --color-gray-11: oklch(50.3% 0.0154 279);
      --color-gray-12: oklch(24.2% 0.011 279);

      --color-gray-a1: color(display-p3 0.0235 0.0235 0.349 / 0.012);
      --color-gray-a2: color(display-p3 0.0235 0.0235 0.5137 / 0.024);
      --color-gray-a3: color(display-p3 0.0078 0.0667 0.3176 / 0.063);
      --color-gray-a4: color(display-p3 0.0118 0.051 0.2588 / 0.095);
      --color-gray-a5: color(display-p3 0.0039 0.0392 0.2 / 0.122);
      --color-gray-a6: color(display-p3 0.0039 0.0275 0.2078 / 0.153);
      --color-gray-a7: color(display-p3 0.0078 0.0275 0.2039 / 0.197);
      --color-gray-a8: color(display-p3 0.0039 0.0314 0.2039 / 0.275);
      --color-gray-a9: color(display-p3 0.0039 0.0196 0.1216 / 0.455);
      --color-gray-a10: color(display-p3 0.0039 0.0196 0.1059 / 0.499);
      --color-gray-a11: color(display-p3 0 0.0078 0.0667 / 0.616);
      --color-gray-a12: color(display-p3 0 0.0039 0.0275 / 0.883);

      --color-gray-contrast: #ffffff;
      --color-gray-surface: color(display-p3 1 1 1 / 80%);
      --color-gray-indicator: oklch(64.6% 0.0189 279);
      --color-gray-track: oklch(64.6% 0.0189 279);
    }
  }
}

.dark,
.dark-theme {
  @theme {
    --gray-1: #111113;
    --gray-2: #19191b;
    --gray-3: #222325;
    --gray-4: #292a2e;
    --gray-5: #303136;
    --gray-6: #393a40;
    --gray-7: #46484f;
    --gray-8: #5f606a;
    --gray-9: #6c6e79;
    --gray-10: #797b86;
    --gray-11: #b2b3bd;
    --gray-12: #eeeef0;

    --gray-a1: #1111bb03;
    --gray-a2: #cbcbf90b;
    --gray-a3: #d6e2f916;
    --gray-a4: #d1d9f920;
    --gray-a5: #d7ddfd28;
    --gray-a6: #d9defc33;
    --gray-a7: #dae2fd43;
    --gray-a8: #e0e3fd60;
    --gray-a9: #e0e4fd70;
    --gray-a10: #e3e7fd7e;
    --gray-a11: #eff0feb9;
    --gray-a12: #fdfdffef;

    --gray-contrast: #ffffff;
    --gray-surface: rgba(0, 0, 0, 0.05);
    --gray-indicator: #6c6e79;
    --gray-track: #6c6e79;
  }
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      @theme {
        --gray-1: oklch(17.8% 0.0042 277.7);
        --gray-2: oklch(21.5% 0.004 277.7);
        --gray-3: oklch(25.5% 0.0055 277.7);
        --gray-4: oklch(28.4% 0.0075 277.7);
        --gray-5: oklch(31.4% 0.0089 277.7);
        --gray-6: oklch(35% 0.01 277.7);
        --gray-7: oklch(40.2% 0.0121 277.7);
        --gray-8: oklch(49.2% 0.0157 277.7);
        --gray-9: oklch(54% 0.0167 277.7);
        --gray-10: oklch(58.6% 0.0165 277.7);
        --gray-11: oklch(77% 0.0138 277.7);
        --gray-12: oklch(94.9% 0.0026 277.7);

        --gray-a1: color(display-p3 0.0667 0.0667 0.9412 / 0.009);
        --gray-a2: color(display-p3 0.8 0.8 0.9804 / 0.043);
        --gray-a3: color(display-p3 0.851 0.898 0.9882 / 0.085);
        --gray-a4: color(display-p3 0.8392 0.8706 1 / 0.122);
        --gray-a5: color(display-p3 0.8471 0.8745 1 / 0.156);
        --gray-a6: color(display-p3 0.8784 0.898 1 / 0.194);
        --gray-a7: color(display-p3 0.8745 0.9059 0.9961 / 0.257);
        --gray-a8: color(display-p3 0.8941 0.9059 1 / 0.37);
        --gray-a9: color(display-p3 0.8902 0.9098 1 / 0.433);
        --gray-a10: color(display-p3 0.902 0.9176 1 / 0.488);
        --gray-a11: color(display-p3 0.9451 0.949 1 / 0.719);
        --gray-a12: color(display-p3 0.9922 0.9922 1 / 0.937);

        --gray-contrast: #ffffff;
        --gray-surface: color(display-p3 0 0 0 / 5%);
        --gray-indicator: oklch(54% 0.0167 277.7);
        --gray-track: oklch(54% 0.0167 277.7);
      }
    }
  }
}
